---
import Main from "../../layouts/Main.astro"
import Content from "../../components/Content.astro"
---

<Main>
    <Content>
        <h1 class="text">There will be a banner thing here</h1>
    </Content>
</Main>
