@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url(/fonts/PlusJakartaSans.ttf);
}
@font-face {
    font-family: 'Material Symbols Rounded';
    src: url(/fonts/MaterialSymbolsRounded.ttf);
}
:root {
    --accent-red: #e70d0d;
    --accent-yellow-dark: #f7b220;
    --accent-yellow-light: #d8661b;
    --accent-blue: #2084f7;

    --far-bg-dark: #222222;
    --subtle-bg-dark: #313131;
    --bg-dark: #363636;
    --fg-dark: #464646;
    --fg-colored-dark: #442323; 
    --text-dark: #f1e9e9;

    --far-bg-light: #c0c0c0;
    --subtle-bg-light: #cccccc;
    --bg-light: #d4d4d4;
    --fg-light: #ebebeb;
    --fg-colored-light: #dbc7c7;
    --text-light: #181616;
}

html.dark {
    --far-bg: var(--far-bg-dark);
    --subtle-bg: var(--subtle-bg-dark);
    --bg: var(--bg-dark);
    --fg: var(--fg-dark);
    --fg-colored: var(--fg-colored-dark);
    --text: var(--text-dark);
    --accent-yellow: var(--accent-yellow-dark)
}
html {
    --far-bg: var(--far-bg-light);
    --subtle-bg: var(--subtle-bg-light);
    --bg: var(--bg-light);
    --fg: var(--fg-light);
    --text: var(--text-light);
    --fg-colored: var(--fg-colored-light);
    --accent-yellow: var(--accent-yellow-light)
}

html.dark .astro-code {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  border: 1px solid color-mix(in oklab, var(--shiki-dark-bg) 80%, black 20%);
}
.astro-code {
    border: 1px solid color-mix(in oklab, #FAFAFA 80%, black 20%);
}
html.dark .astro-code span {
    color: var(--shiki-dark) !important;
}
.astro-code span, .astro-code {
    transition: all 0.3s;
    
}

body {
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    transition: background-color 0.3s;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--text);
}
a.link {
    color: var(--accent-blue);
}
a.link:hover {
    text-decoration: underline;
}

hr {
    border: none;
    border-bottom: 1px solid var(--fg);
    border-top: 1px solid var(--far-bg);
    margin: 1rem;
}

.text {
    font-family: "Plus Jakarta Sans";
    color: var(--text);
}
i.icon {
    font-family: "Material Symbols Rounded";
    font-style: normal;
    text-decoration: none !important;
    font-size: 1.25rem;
    margin-right: .25rem;
    color: var(--text);
}
i.icon:hover {
    text-decoration: none !important;
}
a.text {
    color: var(--accent-red);
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s color;
}
a.text:hover {
    text-decoration: underline;
    color: var(--accent-yellow);
}
.astro-code {
    padding: 1rem;
    width: fit-content;
    max-width: 700px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .astro-code {
        width: calc(100% - 2rem);
    }
}