---
import Main from "../layouts/Main.astro"
import Content from "@components/Content.astro"
import DisplayBanner from "@components/index/DisplayBanner.astro"
import robot from "@images/robot.jpeg"
---

<Main>
    <DisplayBanner images={[{src: robot}]} title="Test" description="Test"></DisplayBanner>
    <Content skip>
        <h1 class="text">There will be a banner thing here</h1>
    </Content>
</Main>
