---
interface Props {
    skip: booolean;
}
const { skip } = Astro.props;
---

<main class:list={skip ? '' : 'skip-navbar'}>
    <div class="main-content">
        <slot/>
    </div>
</main>

<style>
    main {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        z-index: 1;
    }
    .skip-navbar {
        margin-top: 4rem;
    }
    .main-content {
        max-width: 1200px;
        width: 100%;
        padding: 0 3.25rem;
        color: var(--text);
    }
</style>