<footer>
    <div class="footer-content text">
        <p>&copy; 2025 High Voltage. All rights reserved.</p>
        <nav>
        <ul>
            <li><a><img src="/images/icons8-instagram.svg"></a></li>
            <li><a><img src="/images/icons8-youtube.svg"></a></li>
        </ul>
        <ul>
            <li><a href="/privacy" class="link">Privacy Policy</a></li>
            <li><a href="/contact" class="link">Contact Us</a></li>
            <li><a href="/credits" class="link">Credits</a></li>
        </ul>
        </nav>
    </div>
</footer>

<style>
    footer {
        width: 100%;
        margin-top: auto;
    }
    .footer-content {
    background-color: var(--subtle-bg);
    padding: 20px;
    text-align: center;
    }
    .footer-content nav {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .footer-content nav ul {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
    .footer-content nav ul li {
    display: inline;
    margin: 0 10px;
    }
    .footer-content nav ul li a {
        display: inline-flex;
        align-items: center;
    }
</style>