---
interface Props {
    currentPage: string;
}
---

<header class="navbar">
    <nav class="nav-content">
    <a href="/">
    <div class="nav-title text">
        High Voltage
    </div>
    </a>
    <div class="nav-buttons">
        <a class="nav-button" id="themeToggle">
            <i class="icon" id="themeIcon">light_mode</i>
        </a>
    <a class:list={["nav-button"]} href="/blog">
        <i class="icon">rss_feed</i>
        <div class="text">
            Blog
        </div>
    </a>
    <a class="nav-button" href="/contact">
        <i class="icon">dual_screen</i>
        <div class="text">
            Contact Us
        </div>
    </a>
    </div>
</nav>
</header>

<style>
    .navbar {
        position: fixed;
        max-width: 100vw;
        width: 100vw;
        height: 2.5rem;
        padding: 0.75rem 0;
        background-color: var(--fg-colored);
        margin: 0;
        box-shadow: 0 4px 4px 0 color-mix(in oklab, var(--far-bg) 50%, rgba(0,0,0,0) 50%);
        transition: background-color 0.3s, box-shadow 0.3s;
    }
    .nav-title {
        font-weight: 700;
        font-size: 1.5rem;
        color: var(--accent-red);
    }
    .nav-content {
        width: 100vw;
        max-width: 100vw;
        position: absolute;
        display: flex;
        height: 2.5rem;
        justify-content: space-around;
        align-items: center;
        z-index: 99;
    }
    .nav-buttons {
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
    }
    .nav-button {
        font-weight: 600;
        display: flex;
        align-items: center;
        .text, .icon{
            color: var(--accent-red);
            text-decoration: none;
            cursor: pointer;
            transition: 0.2s color;
        }
        &.active {
            .text, .icon {
                color: var(--accent-yellow);
            }
        }
    }
    .nav-button:hover {
        .text, .icon{
            color: var(--accent-yellow)
        };
        .text {
            text-decoration: underline;
        }
    }
    .icon {
        margin-right: .25rem;
        font-size: 1.25rem;
    }


</style>