---
import "../styles/universal.css"
import Header from "@components/Header.astro"
---

<html lang="en">
    <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
    <body>
        <Header currentPage={Astro.url.pathname}/>
        <slot/>
    </body>

    <script is:inline>
        const theme = (() => {
          const localStorageTheme = localStorage?.getItem("theme") ?? '';
          if (['dark', 'light'].includes(localStorageTheme)) {
            return localStorageTheme;
          }
          if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            return 'dark';
          }
            return 'light';
        })();
      
        if (theme === 'light') {
          document.documentElement.classList.remove('dark');
        } else {
          document.documentElement.classList.add('dark');
        }
      
        window.localStorage.setItem('theme', theme);
      
        const handleToggleClick = () => {
          const element = document.documentElement;
          const icon = document.getElementById("themeIcon")
          element.classList.toggle("dark");
      
          const isDark = element.classList.contains("dark");
          localStorage.setItem("theme", isDark ? "dark" : "light");
          icon.textContent = isDark ? "dark_mode" : "light_mode";
        }
      
        document.getElementById("themeToggle")?.addEventListener("click", handleToggleClick);
      </script>
</html>